<% include partials/header %>
<link rel = "stylesheet" href = "app.css"></link>


<h1>This is the Home Page</h1>

<img src="https://s-media-cache-ak0.pinimg.com/736x/a3/ef/55/a3ef5504def30396a9b4bc6ead7d48a7.jpg"></img>
<% include partials/footer %>