<h1>You fell in love with : <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() ==="rusty"){%>
    <p>GOOD Choice Rusty Is the Best</p>
<% } else {%>

    <p> Bad choice you should have said rusty</p>

<% } %>



<p>P.S this is the love.ejs file</p>




<!-- Two set of tags to add javascript 

    <%= %> ===> this one is sued to add javascript to in html so show it
    
    <% %> ===> this is for control flow(e.g while,for or if statments);

-->