<h1>Friends list gose here!</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
    
<% }) %>


<form action = "add" method = "post" >
    
    <input name = "newFriend" type = "text" placeholder= "name"></input>
    
    <button>I made a new friend!</button>
    
    
</form>